body
{
	background: url(../../static/img/background_climb.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
}

#logo
{
	width:180px;
	height: 140px;
	margin:auto;
	margin-top: 70px;
}
#viva-intensamente
{
	width:440px;
	margin:auto;
	margin-top: 100px;
}
#viva-intensamente p
{
	font-size: 48px;
	color:white;
	font-weight: bold;
	margin: auto;
}

#botoes
{
	width:340px;
	margin:auto;
	margin-top: 50px;
}

#btn-novo-usuario
{
	width:150px;
	background-color: white;
	color:#003333;
	border-radius: 20px;
	margin-right: 30px;
}

#btn-entrar-conta
{
	width:150px;
	background-color: #003333;
	color:white;
	border-radius: 20px;	
}