{% extends 'base_inicial.html' %}
<script type="text/javascript">
   if (window.location.hash == '#_=_') {
      window.location.hash = '';
   }
</script>
{%block content %}
<script type="text/javascript">
   if (window.location.hash == '#_=_') {
      window.location.hash = '';
   }
</script>
<div class="bs-callout bs-callout-warning">
  <h4>Página inicial | {{user.pessoa.nome}}</h4>
</div>

<h2>Sua página inicial</h2>

<a href="/logout/" class="btn btn-danger btn-block" title="Clique aqui para Sair do Sistema"><i class="fa fa-sign-out fa-lg"></i>&nbsp;Sair</a>

{%endblock%}