{% extends 'base.html' %}

{%block content %}

<div class="bs-callout bs-callout-warning">
  <h4>Desafio Novo</h4>
</div>
<form class="form-inline" method="POST" >
	{% csrf_token %}		
	{{form.non_field_errors}}	
	<p><label>{{form.titulo.label}} :</label>{{form.titulo}}{{form.titulo.errors}}</p>
	<p><label>{{form.descricao.label}} :</label>{{form.descricao}}{{form.descricao.errors}}</p>
	<p><label>{{form.nivel.label}} :</label>{{form.nivel}}</p>{{form.nivel.errors}}
	<p><label>{{form.tipo.label}} :</label>{{form.tipo}}</p>{{form.tipo.errors}}
	<p><button type="submit" class="btn btn-success">Salvar</button></p>
</form>	


{%endblock%}