@charset "UTF-8";
body
{
   
      background-color: #1a82f7;
      background: url(images/linear_bg_2.png);
      background-repeat: repeat-x;

    /*
 background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6)) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
    
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#E6E6E6');           
    */
}
#div-topo
{
    width:100%;
}
#barra-topo
{
    z-index: -1;
}
#topo-logo
{
    margin-top:-130px;
    margin-left: 30px;
    width:400px;
}

#div-login
{
    position:absolute;
    float:left;
    margin-left:840px;
    margin-top:-60px;
    width:230px;
    z-index: 2;
}
.btn_login
{
    background-color:#003333;
    color:white;
    background-image: none;
}

#id_password
{
    width:130px;
    margin-right: 8px;
}

.container header img
{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 500px;
}

.container header p
{
    position: absolute;
    top: 170px;
    left: 50px;
    font-size: 18px;
    text-align: justify;
    text-indent: 40px;
    font-family: Microsoft, Sans Serif ;
    color: #023095;
}

#cadgratu
{
    width:300px;
    height: 100px;
    float:right;
    margin-top:130px;
}

#cadgratu p {
	font-size: 30px;
	position: absolute;
	left: 500px;
	margin-left:250px;
	color: gray;
}

#institucional p {
	position: absolute;
	top: 240px;
	left: 200px;
	font-size: 12pt;
	
}

#institucional p:hover {
	text-decoration: underline;
	color: blue;
}

#box
{
    margin-left:220px;
    margin-top:14px;
}

#box{
    margin-bottom: 2em;
    border: 1px solid #DDD;
    background-color: #FFF;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 0.3em;
    box-shadow: 0px 1px 3px #CCC;
    width:400px;
    height: 461px;
    position: absolute;
    left: 500px;
    top: 130px;
}
#box-inicio
{
    margin-bottom: 2em;
    border: 1px solid #DDD;
    background-color: #FFF;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 0.3em;
    box-shadow: 0px 1px 3px #CCC;
    width:1000px;
    height: 500px;
    position: absolute;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]
{
    height:30px;
}

.errorlist
{
	width:250;
	margin-right:30px;
}