@charset "UTF-8";

label
{
    color:black;
    font-size: 14px;
    width:130px;
}
body
{
   
      background-color: #1a82f7;
      background: url(images/linear_bg_2.png);
      background-repeat: repeat-x;
font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    /*
 background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6)) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
    
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#E6E6E6');           
    */
}
#div-topo
{
    width:100%;
}
#barra-topo
{
    z-index: -1;
    width:100%;
}
#topo-logo
{
    margin-top:-130px;
    margin-left: 30px;
    width:400px;
}

#div-login
{
    position:absolute;
    float:left;
    margin-left:920px;
    margin-top:-80px;
    width:230px;
}
.btn_login
{
    background-color:#003333;
    color:white;
    background-image: none;
}

#id_username,#id_password{

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#id_username,#id_password
{
    width:130px;
    margin-right: 8px;
}


#div-centro
{
    width:500px;
    height: 500px;
    margin:auto;
    margin-top:20px;
    border: 1px solid black;
}

#cadgratu
{
    width:500px;
    height: 30px;
    margin:auto;
    float:right;
    margin-top:10px;
    text-align: center;
    margin-bottom: 13px;
}

#cadgratu p {
    font-size: 30px;
    color: gray;
}


#box{
    margin-bottom: 2em;
    border: 1px solid #DDD;
    background-color: #FFF;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 0.3em;
    box-shadow: 0px 1px 3px #CCC;
    width:400px;
    height: 361px;
    margin:auto;
}

#box-login
{
    width:320px;
    height: 200px;
    border-radius: 0.3em;
    box-shadow: 0px 1px 3px #CCC;
    border: 1px solid #DDD;
    background-color: #FFF;
    margin:auto;
    margin-top: 50px;
}
#box-login
{
    color:black;
    font-size: 18px;
}

#id_genero,#id_relacionamento
{
    width:225px;
}

.container header img
{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 500px;
}

.container header p
{
    position: absolute;
    top: 170px;
    left: 50px;
    font-size: 18px;
    text-align: justify;
    text-indent: 40px;
    font-family: Microsoft, Sans Serif ;
    color: #023095;
}


#institucional p {
	position: absolute;
	top: 240px;
	left: 200px;
	font-size: 12pt;
	
}

#institucional p:hover {
	text-decoration: underline;
	color: blue;
}


#box-inicio
{
    margin-bottom: 2em;
    border: 1px solid #DDD;
    background-color: #FFF;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 0.3em;
    box-shadow: 0px 1px 3px #CCC;
    width:1000px;
    height: 500px;
    position: absolute;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]
{
    height:30px;
}

.errorlist
{
	width:250;
	margin-right:30px;
}


 .bs-callout{padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
 .bs-callout h4{margin-top:0;margin-bottom:5px}
 .bs-callout p:last-child{margin-bottom:0}
 .bs-callout code{border-radius:3px}
 .bs-callout+.bs-callout{margin-top:-5px}
 .bs-callout-danger{border-left-color:#d9534f}
 .bs-callout-danger h4{color:#d9534f}
 .bs-callout-warning{border-left-color:#f0ad4e}
 .bs-callout-warning h4{color:#f0ad4e}
 .bs-callout-info{border-left-color:#5bc0de}
 .bs-callout-info h4{color:#5bc0de}

.errorlist
{
    margin-top:-35px;
}