@charset "UTF-8";
body
{
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CCCCCC)) no-repeat;
            background: -moz-linear-gradient(top, #CCCCCC, #000000);
            filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#CCCCCC');           
        }

.container header img
{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 500px;
}

.container header p
{
    position: absolute;
    top: 170px;
    left: 50px;
    font-size: 18px;
    text-align: center;
    font-family: Microsoft, Sans Serif;
    color: #023095;
}

#box
{
    margin-left:220px;
    margin-top:14px;
}

#box{
    margin-bottom: 2em;
    border: 1px solid #DDD;
    background-color: #FFF;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 0.3em;
    box-shadow: 0px 1px 3px #CCC;
    width:361px;
    height: 361px;
    position: absolute;
    left: 500px;
    top: 90px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]
{
    height:30px;   
}

.errorlist
{
	width:250;
	margin-right:30px;
}