body
{
	background-color:#336666;
}

#div-foto h5
{
	color:#999999;
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
}

@media screen and (max-width: 1499px) { 

  	#centro-config
	{
		width:397px;
		height: 431px;
		background-color: #F5F5F5;
		border-radius:30px;
		margin:auto;
		margin-top:50px;
		padding-top:1px;
	}
	#div-foto
	{
		margin:auto;
		width:150px;
	}
	#foto-perfil
	{
		width:150px;
		margin:auto;
		margin-top:10px;
	}
} 


@media screen and (min-width: 1500px){ 
  	#centro-config
	{
		width:420px;
		height:471px;
		background-color: #F5F5F5;
		border-radius:30px;
		margin:auto;
		margin-top:50px;
		padding-top: 1px;
	}
	#div-foto
	{
		margin:auto;
		width:180px;
	}

	#foto-perfil
	{
		width:180px;
		margin:auto;
		margin-top:10px;
	}
}

#div-desafios,#div-impacto
{
	height: 80px;
	background-color: #FFFFFF;
}
#div-desafios h5,#div-impacto h5
{
	padding-top: 10px;
	color:#336666;
	font-size:16px;
	text-decoration: none;
}

#id_intervalo,#id_impacto_social
{
	list-style:none;
	font-size: 18px;
}

#id_intervalo label,#id_impacto_social label
{
	width:60px;
	font-size: 14px;
	float:left;
	display:inline-block;
}

#id_intervalo label li,#id_impacto_social label li
{
	float:left;
}

#btn-salvar
{
	bottom: 0;

}

#modal-cadastro_endereco
{
	 width:550px;
	 height:470px;
	 margin-top:30px;
	 left:50%;
	 margin-left:-350px;
	 background-color:white;
	 border-radius:10px;
	 border: 1px solid #000;
	 overflow-y:hidden;
	 overflow-x:hidden;
}