#div-desafios,#div-impacto
{
	height: 80px;
	background-color: #FFFFFF;
}
#div-desafios h5,#div-impacto h5
{
	padding-top: 10px;
	color:#336666;
	font-size:18px;
	text-decoration: none;
}

#id_intervalo,#id_impacto_social
{
	list-style:none;
	font-size: 18px;
}

#id_intervalo label,#id_impacto_social label
{
	width:60px;
	font-size: 14px;
	float:left;
	display:inline-block;
}

#id_intervalo label li,#id_impacto_social label li
{
	float:left;
}
