{% extends 'base.html' %}
{% load i18n %}

{% block head %}
  <link href="{{ STATIC_URL }}css/signup.css" rel="stylesheet">
{% endblock head %}

{% block body %}
  <div id="logo">
        <img id="logo" src= "{{STATIC_URL}}img/logotipo.png"/>
  </div>
  <br/>
  <div class="signup">
    <h2>{% trans 'Cadastre-se na Sociallenge' %}</h2>
    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          {{ field }}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">{% trans 'Cadastre-se' %}</button>
    </form>
  </div>
{% endblock body %}
