<html>
<head>
<script type="text/javascript">
   if (window.location.hash == '#_=_') {
      window.location.hash = '';
   }
</script>
    <title>SocialLenge</title>

<!--<a href="{% url 'socialauth_begin' 'facebook' %}">Login with Facebook</a>  
<a href="{% url 'socialauth_begin' 'twitter' %}?{{ redirect_querystring }}">...</a>-->
    <script src="{{ STATIC_URL }}js/jquery-latest.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>        
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
    
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="{{ STATIC_URL }}css/resetglobal.css" rel="stylesheet" type="text/css"  />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"  />
    <link href="{{ STATIC_URL }}css/base_inicial.css" rel="stylesheet" type="text/css"  />
    

</head>


<body>
    <div id="logo">
        <img id="logo" src= "{{STATIC_URL}}img/logotipo.png"/>
    </div>
    <div id="viva-intensamente">
        <p>Viva intensamente!</p>
    </div>

    <div id="botoes">
        <a class="btn" id="btn-novo-usuario" href="{% url 'pessoa_create' %}">Novo Usuário</a>
        <a class="btn" id="btn-entrar-conta" href="/login/">Entrar na conta</a>
    </div>
</body>
</html>
