<html>
<head>
<script type="text/javascript">
   if (window.location.hash == '#_=_') {
      window.location.hash = '';
   }
</script>
    <title>SocialLenge</title>

    <script src="{{ STATIC_URL }}js/jquery-latest.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>        
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
    
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pagina_inicial.css" />

</head>
<body>
   <div id="div-topo">
    <div id="link-inicio">
        <a href="{% url 'pessoas:pessoa_inicio' %}">Sociallenge</a>
    </div>

    <nav class="menu" id="menu">
        <ul>
            <li><a href="{% url 'pessoas:profile' pessoa_id=user.pessoa.id %}">{{user.pessoa.nome|title}} {{user.pessoa.sobrenome|title}}</a></li>
            <li><a href="{% url 'pessoas:pessoa_configuracao' %} "><i class="fa fa-cog"></i>&nbsp;Config</a></li>
            <li><a href="/logout/" id="btn-sair"><i class="fa fa-power-off"></i>&nbsp;Sair</a></li>
        </ul>
    </nav>
</div>
    <div id="centro-inicio">
        {%block content%}
		{%endblock%}	
    </div>

</html>
