<html>
<head>
    <title>SocialLenge</title>

    <script src="{{ STATIC_URL }}js/jquery-latest.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>        
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
    
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="{{ STATIC_URL }}css/resetglobal.css" rel="stylesheet" type="text/css"  />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"  />
    <link href="{{ STATIC_URL }}css/base_login.css" rel="stylesheet" type="text/css"  />
    

</head>
<body>

    <div id="logo">
        <img id="logo" src= "{{STATIC_URL}}img/logotipo.png"/>
    </div>        

	    <div id="box">
	        <form class="form-horizontal form" method="post" enctype="multipart/form-data">    
				{%csrf_token%}
				<center>
					<p>Email:</p>{{form.username}}<br/>
					<p>Senha:</p>{{form.password}} 
				</center>

				<center>
					<button class="btn btn-default" type="submit" id="button">Entrar</button>
					<!--<a class="btn btn-primary">Entrar com o Facebook</a>-->
				</center>
			 </form>
	    </div>
        
</body>

    

</html>
