<html>
<head>
    <title>SocialLenge</title>

    <script src="{{ STATIC_URL }}js/jquery-latest.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-2.0.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>        
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.min.js"></script>
    
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="{{ STATIC_URL }}css/resetglobal.css" rel="stylesheet" type="text/css"  />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"  />
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css"  />
    

</head>
<body>
        <div id="centro">
            <div id="div-topo">
                <img id="barra-topo" src= "{{STATIC_URL}}img/barra-topo.png"/>
                <div id="topo-logo">
                    <img id="logo" src= "{{STATIC_URL}}img/logo.png"/>    
                </div>
            </div>
        </div>
        

	    <div id="box-login">
	        <form class="form-horizontal form" method="post" enctype="multipart/form-data">    
				{%csrf_token%}
				<center>
					<p>Email:{{form.username}}</p>
					<p>Senha:{{form.password}}</p> 
				</center>

				<center>
					<button class="btn btn-default" type="submit" id="button">Entrar</button>
					<a class="btn btn-primary">Entrar com o Facebook</a>
				</center>
			 </form>
	    </div>
        
</body>

    

</html>
